In [95]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [96]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [97]:
## Preprocess the data 
## drop irrelevant columns 
data = data.drop(['RowNumber', 'CustomerId', 'Surname'],axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [98]:
## Encode categorical variable 
label_encoder_gender =LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [99]:
## One hot encode 'Geograph 
from sklearn.preprocessing import OneHotEncoder

onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [100]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [101]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [102]:
### combine one hot encoder columns with the original data 
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [103]:
#### save the encoders and scaler 
with open ('label_encoder_gender_regressor.pkl','wb') as file :
    pickle.dump(label_encoder_gender,file)
    
with open('onehot_encoder_geo_regressor.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [104]:
## divide the dataset into indepent and dependent features 
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

## split the data in tranning and testing set 
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)
## scale the features
scaler = StandardScaler()
X_train =scaler.fit_transform(X_train)
X_test =scaler.transform(X_test)
with open('scaler_regressor.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Regression problem statement

In [105]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense 
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [106]:
##Build the model 
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])

In [107]:
## compile the model 
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 64)                832

 dense_13 (Dense)            (None, 32)                2080

 dense_14 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [108]:
## setup the tensorboard 
log_dir = "reglogs/fit" +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [109]:
## setup early stopping 
early_stopping_callbacks = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [110]:
## Tranning the model 
history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callbacks]
)

Epoch 1/100
250/250 [==============================] - 0s 896us/step - loss: 100125.2109 - mae: 100125.2109 - val_loss: 99578.1328 - val_mae: 99578.1328
Epoch 2/100
250/250 [==============================] - 0s 662us/step - loss: 99450.8125 - mae: 99450.8125 - val_loss: 98202.1719 - val_mae: 98202.1719
Epoch 3/100
250/250 [==============================] - 0s 645us/step - loss: 97046.7344 - mae: 97046.7344 - val_loss: 94656.8203 - val_mae: 94656.8203
Epoch 4/100
250/250 [==============================] - 0s 634us/step - loss: 92262.4766 - mae: 92262.4766 - val_loss: 88669.3438 - val_mae: 88669.3438
Epoch 5/100
250/250 [==============================] - 0s 626us/step - loss: 85176.2500 - mae: 85176.2500 - val_loss: 80670.6094 - val_mae: 80670.6094
Epoch 6/100
250/250 [==============================] - 0s 625us/step - loss: 76671.7266 - mae: 76671.7266 - val_loss: 72033.0703 - val_mae: 72033.0703
Epoch 7/100
250/250 [==============================] - 0s 626us/step - loss: 68127.2969 - mae: 68127.2969 - val_loss: 64192.0312 - val_mae: 64192.0312
Epoch 8/100
250/250 [==============================] - 0s 639us/step - loss: 60935.8125 - mae: 60935.8125 - val_loss: 58187.2539 - val_mae: 58187.2539
Epoch 9/100
250/250 [==============================] - 0s 637us/step - loss: 55926.4961 - mae: 55926.4961 - val_loss: 54334.5977 - val_mae: 54334.5977
Epoch 10/100
250/250 [==============================] - 0s 626us/step - loss: 52988.8555 - mae: 52988.8555 - val_loss: 52203.9531 - val_mae: 52203.9531
Epoch 11/100
250/250 [==============================] - 0s 628us/step - loss: 51537.1484 - mae: 51537.1484 - val_loss: 51224.2969 - val_mae: 51224.2969
Epoch 12/100
250/250 [==============================] - 0s 624us/step - loss: 50918.1367 - mae: 50918.1367 - val_loss: 50813.2891 - val_mae: 50813.2891
Epoch 13/100
250/250 [==============================] - 0s 766us/step - loss: 50638.9727 - mae: 50638.9727 - val_loss: 50595.8086 - val_mae: 50595.8086
Epoch 14/100
250/250 [==============================] - 0s 635us/step - loss: 50491.0391 - mae: 50491.0391 - val_loss: 50474.6641 - val_mae: 50474.6641
Epoch 15/100
250/250 [==============================] - 0s 627us/step - loss: 50391.6719 - mae: 50391.6719 - val_loss: 50389.1328 - val_mae: 50389.1328
Epoch 16/100
250/250 [==============================] - 0s 619us/step - loss: 50324.6484 - mae: 50324.6484 - val_loss: 50329.3555 - val_mae: 50329.3555
Epoch 17/100
250/250 [==============================] - 0s 655us/step - loss: 50257.4844 - mae: 50257.4844 - val_loss: 50278.9883 - val_mae: 50278.9883
Epoch 18/100
250/250 [==============================] - 0s 616us/step - loss: 50208.9805 - mae: 50208.9805 - val_loss: 50248.3281 - val_mae: 50248.3281
Epoch 19/100
250/250 [==============================] - 0s 615us/step - loss: 50164.0469 - mae: 50164.0469 - val_loss: 50213.0430 - val_mae: 50213.0430
Epoch 20/100
250/250 [==============================] - 0s 619us/step - loss: 50122.1484 - mae: 50122.1484 - val_loss: 50182.0430 - val_mae: 50182.0430
Epoch 21/100
250/250 [==============================] - 0s 624us/step - loss: 50089.3477 - mae: 50089.3477 - val_loss: 50159.9688 - val_mae: 50159.9688
Epoch 22/100
250/250 [==============================] - 0s 630us/step - loss: 50054.7148 - mae: 50054.7148 - val_loss: 50137.7852 - val_mae: 50137.7852
Epoch 23/100
250/250 [==============================] - 0s 691us/step - loss: 50022.4219 - mae: 50022.4219 - val_loss: 50118.8906 - val_mae: 50118.8906
Epoch 24/100
250/250 [==============================] - 0s 684us/step - loss: 49997.3203 - mae: 49997.3203 - val_loss: 50101.0156 - val_mae: 50101.0156
Epoch 25/100
250/250 [==============================] - 0s 928us/step - loss: 49968.6250 - mae: 49968.6250 - val_loss: 50079.9141 - val_mae: 50079.9141
Epoch 26/100
250/250 [==============================] - 0s 712us/step - loss: 49945.8555 - mae: 49945.8555 - val_loss: 50066.5508 - val_mae: 50066.5508
Epoch 27/100
250/250 [==============================] - 0s 704us/step - loss: 49927.2070 - mae: 49927.2070 - val_loss: 50049.5039 - val_mae: 50049.5039
Epoch 28/100
250/250 [==============================] - 0s 633us/step - loss: 49900.5156 - mae: 49900.5156 - val_loss: 50038.1328 - val_mae: 50038.1328
Epoch 29/100
250/250 [==============================] - 0s 665us/step - loss: 49882.6094 - mae: 49882.6094 - val_loss: 50029.2227 - val_mae: 50029.2227
Epoch 30/100
250/250 [==============================] - 0s 635us/step - loss: 49864.7227 - mae: 49864.7227 - val_loss: 50015.3438 - val_mae: 50015.3438
Epoch 31/100
250/250 [==============================] - 0s 635us/step - loss: 49843.3359 - mae: 49843.3359 - val_loss: 50003.0781 - val_mae: 50003.0781
Epoch 32/100
250/250 [==============================] - 0s 636us/step - loss: 49829.3398 - mae: 49829.3398 - val_loss: 49998.5273 - val_mae: 49998.5273
Epoch 33/100
250/250 [==============================] - 0s 632us/step - loss: 49813.6445 - mae: 49813.6445 - val_loss: 49990.3945 - val_mae: 49990.3945
Epoch 34/100
250/250 [==============================] - 0s 641us/step - loss: 49797.5625 - mae: 49797.5625 - val_loss: 49984.6094 - val_mae: 49984.6094
Epoch 35/100
250/250 [==============================] - 0s 684us/step - loss: 49781.8984 - mae: 49781.8984 - val_loss: 49984.1406 - val_mae: 49984.1406
Epoch 36/100
250/250 [==============================] - 0s 656us/step - loss: 49770.4453 - mae: 49770.4453 - val_loss: 49980.6523 - val_mae: 49980.6523
Epoch 37/100
250/250 [==============================] - 0s 637us/step - loss: 49757.1719 - mae: 49757.1719 - val_loss: 49971.1602 - val_mae: 49971.1602
Epoch 38/100
250/250 [==============================] - 0s 636us/step - loss: 49742.2891 - mae: 49742.2891 - val_loss: 49967.2656 - val_mae: 49967.2656
Epoch 39/100
250/250 [==============================] - 0s 666us/step - loss: 49729.1406 - mae: 49729.1406 - val_loss: 49959.1719 - val_mae: 49959.1719
Epoch 40/100
250/250 [==============================] - 0s 636us/step - loss: 49723.2617 - mae: 49723.2617 - val_loss: 49954.5273 - val_mae: 49954.5273
Epoch 41/100
250/250 [==============================] - 0s 633us/step - loss: 49706.1797 - mae: 49706.1797 - val_loss: 49955.4531 - val_mae: 49955.4531
Epoch 42/100
250/250 [==============================] - 0s 640us/step - loss: 49700.5742 - mae: 49700.5742 - val_loss: 49948.3711 - val_mae: 49948.3711
Epoch 43/100
250/250 [==============================] - 0s 641us/step - loss: 49690.0547 - mae: 49690.0547 - val_loss: 49946.9609 - val_mae: 49946.9609
Epoch 44/100
250/250 [==============================] - 0s 633us/step - loss: 49680.3242 - mae: 49680.3242 - val_loss: 49945.5352 - val_mae: 49945.5352
Epoch 45/100
250/250 [==============================] - 0s 632us/step - loss: 49674.3203 - mae: 49674.3203 - val_loss: 49938.2188 - val_mae: 49938.2188
Epoch 46/100
250/250 [==============================] - 0s 750us/step - loss: 49665.0156 - mae: 49665.0156 - val_loss: 49937.3438 - val_mae: 49937.3438
Epoch 47/100
250/250 [==============================] - 0s 665us/step - loss: 49656.5312 - mae: 49656.5312 - val_loss: 49936.1367 - val_mae: 49936.1367
Epoch 48/100
250/250 [==============================] - 0s 634us/step - loss: 49650.2031 - mae: 49650.2031 - val_loss: 49935.3477 - val_mae: 49935.3477
Epoch 49/100
250/250 [==============================] - 0s 637us/step - loss: 49640.2227 - mae: 49640.2227 - val_loss: 49933.6367 - val_mae: 49933.6367
Epoch 50/100
250/250 [==============================] - 0s 630us/step - loss: 49632.6094 - mae: 49632.6094 - val_loss: 49927.2109 - val_mae: 49927.2109
Epoch 51/100
250/250 [==============================] - 0s 628us/step - loss: 49627.1094 - mae: 49627.1094 - val_loss: 49927.4102 - val_mae: 49927.4102
Epoch 52/100
250/250 [==============================] - 0s 633us/step - loss: 49616.9844 - mae: 49616.9844 - val_loss: 49931.5039 - val_mae: 49931.5039
Epoch 53/100
250/250 [==============================] - 0s 632us/step - loss: 49611.1758 - mae: 49611.1758 - val_loss: 49929.2539 - val_mae: 49929.2539
Epoch 54/100
250/250 [==============================] - 0s 633us/step - loss: 49605.9492 - mae: 49605.9492 - val_loss: 49928.6758 - val_mae: 49928.6758
Epoch 55/100
250/250 [==============================] - 0s 629us/step - loss: 49601.0977 - mae: 49601.0977 - val_loss: 49928.5898 - val_mae: 49928.5898
Epoch 56/100
250/250 [==============================] - 0s 639us/step - loss: 49595.8828 - mae: 49595.8828 - val_loss: 49927.7461 - val_mae: 49927.7461
Epoch 57/100
250/250 [==============================] - 0s 668us/step - loss: 49588.8594 - mae: 49588.8594 - val_loss: 49919.8867 - val_mae: 49919.8867
Epoch 58/100
250/250 [==============================] - 0s 631us/step - loss: 49582.3281 - mae: 49582.3281 - val_loss: 49926.7266 - val_mae: 49926.7266
Epoch 59/100
250/250 [==============================] - 0s 817us/step - loss: 49577.6680 - mae: 49577.6680 - val_loss: 49925.5156 - val_mae: 49925.5156
Epoch 60/100
250/250 [==============================] - 0s 631us/step - loss: 49570.1797 - mae: 49570.1797 - val_loss: 49923.3945 - val_mae: 49923.3945
Epoch 61/100
250/250 [==============================] - 0s 635us/step - loss: 49567.2148 - mae: 49567.2148 - val_loss: 49920.6680 - val_mae: 49920.6680
Epoch 62/100
250/250 [==============================] - 0s 625us/step - loss: 49560.6016 - mae: 49560.6016 - val_loss: 49923.2578 - val_mae: 49923.2578
Epoch 63/100
250/250 [==============================] - 0s 630us/step - loss: 49557.0664 - mae: 49557.0664 - val_loss: 49920.5977 - val_mae: 49920.5977
Epoch 64/100
250/250 [==============================] - 0s 629us/step - loss: 49549.9766 - mae: 49549.9766 - val_loss: 49923.9297 - val_mae: 49923.9297
Epoch 65/100
250/250 [==============================] - 0s 631us/step - loss: 49545.9492 - mae: 49545.9492 - val_loss: 49924.7930 - val_mae: 49924.7930
Epoch 66/100
250/250 [==============================] - 0s 667us/step - loss: 49538.6992 - mae: 49538.6992 - val_loss: 49924.3984 - val_mae: 49924.3984
Epoch 67/100
250/250 [==============================] - 0s 635us/step - loss: 49536.0703 - mae: 49536.0703 - val_loss: 49928.1680 - val_mae: 49928.1680

In [111]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [113]:
%tensorboard --logdir reglogs/fit

In [117]:
## Evaluate model on the test data 
test_loss,test_mae = model.evaluate(X_test,y_test)
print(f"test mae :{test_mae}")

63/63 [==============================] - 0s 373us/step - loss: 49919.8867 - mae: 49919.8867
test mae :49919.88671875

In [118]:
model.save('regression.h5')

/Users/sandipmahata/Documents/my self/krish naik  course /End ot End deeplearning project using ANN/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(